*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


.navbar {
    padding-left: 80px;
    background-color:  #343434; 
}

.carousel{
    margin-top: 76px;
}

.logoContainer {
    /* border: solid 1px red; */
    width: 180px;
   
}
.logoContainer img{
    /* border: solid 1px red; */
    width: 100%;
    /* border: 1px solid red; */
   
} 



#logg{
    color: red !important;
}

.navbar img{
    height: 25%;
    width: 100%;
}


.navbar-nav{
    margin-left: 15%;
    /* border: solid 1px red; */
}

.navbar-nav a{
    padding-left: 40px !important;
    color: white !important;
    font-size: 18px;
}

.navbar-nav a:hover{
    color: red !important;

}

.dropdown-menu a{
    color: black !important;
}

.lll {
    /* border: solid 1px blue; */
    margin-left: 10%;
   
}

#jkkk{
    /* border: solid 1px red; */
    margin-right: 20px;
    background-color: rgba(29, 73, 122, 0.849);
    color: white;

}


#jooo {
    border: solid 1px green;
    text-align: center;
    padding-left: 10px !important;
    padding-right: 10px;
    border-radius: 9px;
    
}

 /* end of nav-bar styling */

 /* Body sec-one begins */
    .community{
        width: 100%;

    }
    .community h2{
        text-align: center;
        margin-top: 45px;
    }

    .sec-one{
        margin-top: 30px;
      text-align: center;
      font-size: 30px; 
      color: #343434;
      padding-top: 15px;
    }

    .imagg img{
        width: 100px;
        height: 100px;
    }

    .sec-two{
        margin-top: 50px;
    }

    .middle-image img{
        width: 100%;
        /* height: 300px; */
    }
      
    .middle-text{
        background-color: #e0d395;
        padding-top: 20px;
  
    }

       
    .middle-text p{
        font-size: 20px;
        padding-top: 5px;  
        padding-bottom: 15px;
    }

    .sec-three h4{
       width: 100%;
       margin-top: 50px;
      text-align: center;
      font-size: 35px;
    }

    .numberof{
       margin-top: 20px;
    }

    .number p{
        padding-left: 100px;
        background-color:  #ddca68;
        border: solid yellow 2px;
        border-top-right-radius: 100%;
        border-top-left-radius: 100%;
        border-bottom-left-radius: 100%;
        border-bottom-right-radius: 100%;
        font-size: 30px;
        width: 30px;
    }

    .number{
        margin-left: 30px;
    }

    .testimony {
        background-color: #e0d395;
        margin-top: 50px;
        border-top-left-radius: 10%;
        border-bottom-right-radius: 20%;
        padding-top: 15px;
        margin-left: 100px;
    }
    
    .testimony p{
        font-size: 20px;
        padding-top: 5px;  
        padding-bottom: 15px;
    }
    
    .testim p{
       padding-left: 30px;
    }

    .testim img{
 padding-top: 60px;
    }

    .sec-five{
        margin-top: 70px;
    }

    .sec-five img{
    width: 80%;
    }

    .sec-six{
        background-color: #343434;
        padding-right: 0px;
        padding-left: 0px;
        padding-top: 30px;
    }

    .sec-six a{
        text-decoration: none;
        color: white;
        margin-top: 80px;
    }

    .sec-six a:hover{
        text-decoration: none;
        color: rgb(231, 169, 231);
       
    }

    .social .icons{
        padding-top: 20px;
    }

    .social .icons a{
        padding-right: 30px;
    }

        .foots{
            text-align: center;
            color: white;
            padding-top: 20px;
        }






























































 @media(max-width:720px){

    .carousel{
        margin-top: 75px;
    }

     .navbar-nav{
        text-align: right;
      padding-right: 15px;
     }

  .jkkk{
           margin-right: 0px !important;
           padding-right: 0px;
        }

        .lll {
            margin-left: 0%;
            padding-right: 0px;
            text-align: right;
        } 


        .sec-five img{
            width: 30%;
            }


            .testimony {
               margin-right: 10px;
            }
            
            
            .testim p{
               padding-left: 30px;
            }
        
            .testim img{
         padding-top: 2px;
            }
        

 }
