*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


.navbar {
    padding-left: 80px;
    background-color:  #343434; 
}

.sec-one{
    margin-top: 75px;
}

.logoContainer {
    /* border: solid 1px red; */
    width: 180px;
   
}
.logoContainer img{
    /* border: solid 1px red; */
    width: 100%;
    /* border: 1px solid red; */
   
} 



#logg{
    color: red !important;
}

.navbar img{
    height: 25%;
    width: 100%;
}


.navbar-nav{
    margin-left: 15%;
    /* border: solid 1px red; */
}

.navbar-nav a{
    padding-left: 40px !important;
    color: white !important;
    font-size: 18px;
}

.navbar-nav a:hover{
    color: red !important;

}

.dropdown-menu a{
    color: black !important;
}

.lll {
    /* border: solid 1px blue; */
    margin-left: 10%;
   
}

#jkkk{
    /* border: solid 1px red; */
    margin-right: 20px;
    background-color: rgba(29, 73, 122, 0.849);
    color: white;

}


#jooo {
    border: solid 1px green;
    text-align: center;
    padding-left: 10px !important;
    padding-right: 10px;
    border-radius: 9px;
    
}

 /* end of nav-bar styling */

 .sec-six{
    background-color: #343434;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 30px;
    margin-top: 370px;
}

 

    .sec-six a{
        text-decoration: none;
        color: white;
        margin-top: 80px;
    }

    .sec-six a:hover{
        text-decoration: none;
        color: rgb(231, 169, 231);
       
    }

    .social .icons{
        padding-top: 20px;
    }

    .social .icons a{
        padding-right: 30px;
    }

        .foots{
            text-align: center;
            color: white;
            padding-top: 20px;
        }




        /* css/external styling from the previous page */
        
        *{
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
             
        }
        
            
        /* #main{
            background-image: url('../images/login-pic.png');
            background-size: cover;
            width: 100%;
            height: 850px; */
            
        }
        
        
        #form1{
            width: 55%;
            background-color: #F3ECEC;
            position: absolute;
            right: 15px;
            margin-top: 15px;
        }
        
        #content{
         width: 85%;
         height: 800px;
         margin: auto;
         margin-top: 15px;
        }
        
        #logo img{
            height: 50px;
            width: 25%;
        
        }
        
        #account p{
            display: inline-block;
            font-family: myfont;
        }
        
        #account a{
            display: inline-block;
            text-decoration: none;
            color: royalblue;
            font-family: myfont;
        }
        
        #formarea{
         margin-top: 30px;
        }
        
        #formarea label{
          display: block;  
          margin-bottom: 5px;
        }
        
        #formarea input{
            display: block;
            margin-bottom: 30px;
            height: 40px;
            width: 100%;
            text-decoration: none;
            outline: none;
            border: solid 1px;
            border-radius: 5px;
            background-color: #F3ECEC;
        }
        
        ::placeholder{
            padding-left: 15px;
        }
        
        
        #formarea input:hover{
           border-color: rgb(12, 77, 197);
        }
        
         #formarea .name[type="text"], textarea {
            background-color : #F3ECEC; 
          
          }
        
        
          #formarea .email[type="text"], textarea {
            background-color : #F3ECEC; 
          
          }
        
        
          #formarea .pass[type="password"], textarea {
            background-color : #F3ECEC;  
          }
        
        
        
        #check{
            font-size: 14px;
        }
        
        #submit{
            margin-top: 22px;
            width: 100%;
            height: 45px;
            padding-top: 8px;
            background-color: rgb(219, 33, 33);
            text-align: center;
            border: solid  rgb(219, 33, 33);
            border-radius: 8px;
            
        }
        
        #submit a{
            font-size: 20px;
            color: white;
            text-decoration: none;
          
        }
        
        #submit:hover{
            border-color: royalblue;
        }
        
        
        #check p{
         margin-left: 19px;
        }
        
        #terms {
            margin-top: 20px;
            font-size: 14px;
            font-weight: 80px;
        }
        
        #terms a{
            text-decoration: none;
            color: royalblue;
        }
        
        #option{
            margin-top: 20px;
        }
        
        #option h3{
            position: absolute;
            margin-left: 430px;
            width: 7%;
            text-align: center;
            margin-top: -15px;
        }
        
        
        #signup{
            margin-top: 30px;
            text-align: center;
        }

        #links{
        margin-top: 15px;
        text-align: center;
        padding-left: 30px;
        padding-right: 30px;
        }
        
        #pic2{
            margin-left: 30px;
        }
        
        #pic3{
            margin-left: 40px;
        }
        

        
     







 @media(max-width:720px){

     .navbar-nav{
        text-align: right;
      padding-right: 15px;
     }

     .navbar-toggler{
        display: none;
    }

    .logoContainer img{
        text-align: center;
       width: 100%;
    }


  .jkkk{
           margin-right: 0px !important;
           padding-right: 0px;
        }

        .lll {
            margin-left: 0%;
            padding-right: 0px;
            text-align: right;
        } 


       #contain{
            margin-top: 30px;
             
        } 
        

        #option h3{
            position: absolute;
            margin-left: 123px;
            width: 7%;
            text-align: center;
            margin-top: -25px;
        }


        .sec-six{
            background-color: #343434;
            padding-right: 0px;
            padding-left: 0px;
            padding-top: 30px;
            margin-top: 470px;
        }


        

 }
